<html>
<head> Great Success!
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
</head>
<body>
<div class="w3-container w3-center">
    <div class="row">
        <h2>Download the file</h2>
        <a class="w3-button w3-black" href="{{url_for('download')}}">Download file</a>
        <a class="w3-button w3-teal" href="{{url_for('home')}}">Try again</a>
        <a class="w3-button w3-blue" href="https://aliceinhunterland.github.io/keplergl-demo/">Display on the map</a>
    </div>
</div>
</body>
</html>